<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.music.mapper.AdminMapper" >


	<select id="queryIsExistsAccount" resultType="java.lang.Integer">
		select count(*) from admin where name = #{name}
	</select>

	<select id="queryAdminInfo" resultType="com.cloud.music.entity.Admin">
		select id,name,password from admin where name = #{name}
	</select>


</mapper>